<div class="row">
  <div class="col-md-12">
    <app-stepper class="ff-IRANSans" [linearModeSelected]="true" #stepper>
      <mat-step label="انتخاب آدرس">
        <app-checkout-address></app-checkout-address>
      </mat-step>
      <mat-step label="نحوه ارسال">
        <app-checkout-delivery></app-checkout-delivery>
      </mat-step>
      <mat-step label="مرور سبد خرید">
        <app-checkout-review></app-checkout-review>
        <!-- <button class="btn btn-warning btn-sm" (click)="stepper.previous()">قبلی</button> -->
        <button class="btn btn-success w-100 ff-IranSans" (click)="stepper.next()">پرداخت</button>
      </mat-step>
      <mat-step label="پرداخت">
        <app-checkout-payment></app-checkout-payment>
      </mat-step>
    </app-stepper>
  </div>
  <app-order-total></app-order-total>
  <!-- <a class="btn btn-danger w-100 mt-5"> پرداخت</a> -->
</div>
