<div class="form-floating mb-2">
  <input #input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="کلمه عبور" />
  <label for="floatingPassword">کلمه عبور</label>
</div>
<!-- validators -->
<div
  class="text-start mt-2 mb 2"
  *ngIf="
    (form.controls.phoneNumber.errors && form.controls.password.errors && form.controls.phoneNumber.touched) ||
    (form.controls.password.touched && form.controls.phoneNumber.dirty) ||
    form.controls.password.dirty
  "
>
  <span class="text-danger" *ngIf="form.controls.phoneNumber.hasError('required')">لطفا شماره همراه را وارد کنید</span>
  <span class="text-danger" *ngIf="form.controls.phoneNumber.hasError('minlength')">شماره همراه را درست ثبت کنید</span>
  <span class="text-danger" *ngIf="form.controls.phoneNumber.hasError('maxlength')">شماره همراه را درست ثبت کنید</span>
  <span class="text-danger" *ngIf="form.controls.password.hasError('required')">لطفا کلمه عبور را وارد کنید</span>
</div>
