<main class="form-signin w-100 m-auto container py-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" /> -->
    <h1 class="h3 mb-3 fw-normal text-center">ورود به سایت</h1>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" formControlName="phoneNumber" id="floatingInput" placeholder="شماره همراه" />
      <label for="floatingInput">شماره همراه</label>
    </div>
    <div class="form-floating mb-2">
      <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="کلمه عبور" />
      <label for="floatingPassword">کلمه عبور</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">ورود به سایت</button>
  </form>
</main>
